<!-- Courses section -->
    <section class="admission-page spad pt-0" ng-controller="admissionController" ng-init="init()">
        <div class="container">
            <div class="admission-form cpad pb-0">
                <!--<div class="csection-title text-center">
					<h3>Candidate Profile</h3>
				</div>-->
                <div class="col-md-12">
                    <form id="msform">
                        <!-- progressbar -->
                        <ul id="progressbar">
                            <li ng-class="{'active':isPersonalDetailsVisible || isAddressVisible || isParentDetailsVisible || isEducationDetailsVisible}">{{'admissionForm.personalDetails.step' | translate}}</li>
                            <li ng-class="{'active':isAddressVisible || isParentDetailsVisible || isEducationDetailsVisible}">{{'admissionForm.address.step' | translate}}</li>
                            <li ng-class="{'active':isParentDetailsVisible || isEducationDetailsVisible}">{{'admissionForm.parentDetails.step' | translate}}</li>
                            <li ng-class="{'active':isEducationDetailsVisible}">{{'admissionForm.educationDetails.step' | translate}}</li>
                        </ul>
						
                        <!-- fieldsets --> 
                        <fieldset ng-init="isPersonalDetailsVisible=true" ng-show="isPersonalDetailsVisible">
                            <h2 class="fs-title">{{'admissionForm.personalDetails.step' | translate}}</h2>
                            <h3 class="fs-subtitle">{{'admissionForm.personalDetails.title' | translate}}</h3>
                          <div class="row">
							<div class="form-group col-sm-6">
							  <label for="usr">{{'admissionForm.personalDetails.firstName' | translate}}</label>
							  <input type="text" class="form-control" id="usr">
							</div>
							<div class="form-group col-sm-6">
							  <label for="usr">{{'admissionForm.personalDetails.lastName' | translate}}</label>
							  <input type="text" class="form-control" id="usr">
							</div>
                           </div>
						   <div class="row">
							<div class="form-group col-sm-6">
							  <label for="usr">{{'admissionForm.personalDetails.phone' | translate}}</label>
							  <input type="text" class="form-control" id="usr">
							</div>
							<div class="form-group col-sm-6">
							  <label for="usr">{{'admissionForm.personalDetails.email' | translate}}</label>
							  <input type="text" class="form-control" id="usr">
							</div>
							</div>
                            <input type="button" name="next" ng-click="isAddressVisible=true; isPersonalDetailsVisible=false;" class="next action-button" value="{{'admissionForm.formBtn.next' | translate}}" />
                        </fieldset>
						
						<fieldset ng-show="isAddressVisible">
                            <h2 class="fs-title">{{'admissionForm.address.step' | translate}}</h2>
                            <h3 class="fs-subtitle">{{'admissionForm.personalDetails.title' | translate}}</h3>
							
							<div class="row">
							<div class="form-group col-sm-6">
							  <label for="usr">{{'admissionForm.address.houseNo' | translate}}</label>
							  <input type="text" class="form-control" id="usr">
							</div>
							<div class="form-group col-sm-6">
							  <label for="usr">{{'admissionForm.address.addLine1' | translate}}</label>
							  <input type="text" class="form-control" id="usr">
							</div>
							</div>
							
							<div class="row">
							<div class="form-group col-sm-12">
							  <label for="usr">{{'admissionForm.address.addLine2' | translate}}</label>
							  <input type="text" class="form-control" id="usr">
							</div>
							
							</div>
							
							<div class="row">
							<div class="form-group col-sm-6">
							  <label for="usr">{{'admissionForm.address.city' | translate}}</label>
							  <input type="text" class="form-control" id="usr">
							</div>
							<div class="form-group col-sm-6">
							  <label for="usr">{{'admissionForm.address.state' | translate}}</label>
							  <input type="text" class="form-control" id="usr">
							</div>
							</div>
							
							<div class="row">
							<div class="form-group col-sm-6">
							  <label for="usr">{{'admissionForm.address.zipCode' | translate}}</label>
							  <input type="text" class="form-control" id="usr">
							</div>
							<div class="form-group col-sm-6">
							  <label for="usr">{{'admissionForm.address.country' | translate}}</label>
							  <input type="text" class="form-control" id="usr">
							</div>
							</div>

                            <input type="button" name="back" ng-click="isPersonalDetailsVisible=true; isAddressVisible=false;" class="next action-button" value="{{'admissionForm.formBtn.back' | translate}}" />
                            <input type="button" name="next" ng-click="isParentDetailsVisible=true; isAddressVisible=false;" class="next action-button" value="{{'admissionForm.formBtn.next' | translate}}" />
                        </fieldset>
						
						<fieldset ng-show="isParentDetailsVisible">
                            <h2 class="fs-title">{{'admissionForm.parentDetails.step' | translate}}</h2>
                            <h3 class="fs-subtitle">{{'admissionForm.personalDetails.title' | translate}}</h3>
							
							<div class="row">
								<div class="form-group col-sm-6">
								  <label for="usr">{{'admissionForm.parentDetails.fatherName' | translate}}</label>
								  <input type="text" class="form-control" id="usr">
								</div>
								<div class="form-group col-sm-6">
								  <label for="usr">{{'admissionForm.parentDetails.motherName' | translate}}</label>
								  <input type="text" class="form-control" id="usr">
								</div>
							</div>
							<div class="row">
								<div class="form-group col-sm-6">
								  <label for="usr">{{'admissionForm.parentDetails.fatherOccupasion' | translate}}</label>
								  <input type="text" class="form-control" id="usr">
								</div>
								<div class="form-group col-sm-6">
								  <label for="usr">{{'admissionForm.parentDetails.motherOccupasion' | translate}}</label>
								  <input type="text" class="form-control" id="usr">
								</div>
							</div>
							
                            <input type="button" name="back" ng-click="isParentDetailsVisible=false; isAddressVisible=true;" class="next action-button" value="{{'admissionForm.formBtn.back' | translate}}" />
                            <input type="button" name="next" ng-click="isEducationDetailsVisible=true; isParentDetailsVisible=false;" class="next action-button" value="{{'admissionForm.formBtn.next' | translate}}" />
                        </fieldset>
						
						<fieldset ng-show="isEducationDetailsVisible">
                            <h2 class="fs-title">{{'admissionForm.educationDetails.step' | translate}}</h2>
                            <h3 class="fs-subtitle">{{'admissionForm.personalDetails.title' | translate}}</h3>
							
							<div class="row">
								<div class="form-group col-sm-6">
								  <label for="usr">{{'admissionForm.educationDetails.10thUniversityName' | translate}}</label>
								  <input type="text" class="form-control" id="usr">
								</div>
								<div class="form-group col-sm-6">
								  <label for="usr">{{'admissionForm.educationDetails.schoolName' | translate}}</label>
								  <input type="text" class="form-control" id="usr">
								</div>
							</div>
							
							<div class="row">
								<div class="form-group col-sm-6">
								  <label for="usr">{{'admissionForm.educationDetails.fullMark' | translate}}</label>
								  <input type="text" class="form-control" id="usr">
								</div>
								<div class="form-group col-sm-6">
								  <label for="usr">{{'admissionForm.educationDetails.totalMarkSecured' | translate}}</label>
								  <input type="text" class="form-control" id="usr">
								</div>
							</div>
							
							<div class="row">
								<div class="form-group col-sm-6">
								  <label for="usr">{{'admissionForm.educationDetails.yearOffPassout' | translate}}</label>
								  <input type="text" class="form-control" id="usr">
								</div>
								<div class="form-group col-sm-6">
								  <label for="usr">{{'admissionForm.educationDetails.12thUniversityName' | translate}}</label>
								  <input type="text" class="form-control" id="usr">
								</div>
							</div>
							
							<div class="row">
								<div class="form-group col-sm-6">
								  <label for="usr">{{'admissionForm.educationDetails.12thSchoolName' | translate}}</label>
								  <input type="text" class="form-control" id="usr">
								</div>
								<div class="form-group col-sm-6">
								  <label for="usr">{{'admissionForm.educationDetails.12thFullMark' | translate}}</label>
								  <input type="text" class="form-control" id="usr">
								</div>
							</div>
							
							<div class="row">
								<div class="form-group col-sm-6">
								  <label for="usr">{{'admissionForm.educationDetails.12thTotalMarkSecured' | translate}}</label>
								  <input type="text" class="form-control" id="usr">
								</div>
								<div class="form-group col-sm-6">
								  <label for="usr">{{'admissionForm.educationDetails.12thYearOffPassout' | translate}}</label>
								  <input type="text" class="form-control" id="usr">
								</div>
							</div>
                            
                            <input type="button" name="back" ng-click="isEducationDetailsVisible=false; isParentDetailsVisible=true;" class="next action-button" value="{{'admissionForm.formBtn.back' | translate}}" />
                            <input type="button" name="submit" class="next action-button" value="{{'admissionForm.formBtn.submit' | translate}}" />
                        </fieldset>
                    </form>

                </div>
            </div>
        </div>
    </section>
    <!-- Courses section end-->