<!DOCTYPE html>
<html lang="en">
<head>
	<title>Campus Management</title>
	<meta charset="UTF-8">
	<meta name="description" content="Campus Management">
	<meta name="keywords" content="Campus Management">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Favicon -->   
	<!--<link href="img/favicon.ico" rel="shortcut icon"/>-->

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Rubik:400,400i,500,500i,700,700i" rel="stylesheet">

	<!-- Stylesheets -->{{noop}}
	<link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link ng-if="lang == 'arb'" rel="stylesheet" href="css/rtl/bootstrap.min.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.10/angular-material.min.css"/>
	<link rel="stylesheet" href="css/font-awesome.min.css"/>
	<link rel="stylesheet" href="css/themify-icons.css"/>
	<link rel="stylesheet" href="css/magnific-popup.css"/>
	<link rel="stylesheet" href="css/animate.css"/>
	<link rel="stylesheet" href="css/owl.carousel.css"/>
	<link rel="stylesheet" href="css/style.css"/>
	<link ng-if="lang == 'arb'" rel="stylesheet" href="css/rtl/style.css"/>

	<!--[if lt IE 9]>
	  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->

</head>
<body ng-app="cmi" ng-controller="mainController">
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>

	<!-- header section -->
	<header class="header-section">
		<div class="container">
			<!-- logo -->
			<a href="#/home" class="site-logo"><img src="img/logo.png" alt=""></a>
			<div class="nav-switch">
				<i class="fa fa-bars"></i>
			</div>
			<!--<div class="header-info">
				<div class="hf-item">
					<i class="fa fa-user"></i>
					<p><span>Welcome!</span>Avinash Kumar</p>
				</div>
			</div>-->
			
            <div class="header-info">
                <div class="hf-item">
                    <div class="dropdown" uib-dropdown dropdown-append-to-body>
                        <button type="button" class="btn btn-secondary" uib-dropdown-toggle>
                            {{'header.changeLanguageBtn' | translate}} : {{'language' | translate}} <span class="caret"></span>
                        </button>
                        <div class="dropdown-menu" uib-dropdown-menu>
                            <a class="dropdown-item" href="" ng-click="changeLanguage('en')">{{'english' | translate}}</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="" ng-click="changeLanguage('hn')">{{'hindi' | translate}}</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item"href="" ng-click="changeLanguage('mr')">{{'marathi' | translate}}</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="" ng-click="changeLanguage('arb')">{{'arabic'  | translate}}</a>
                        </div>
                    </div>
                </div>
            </div>
            
		</div>
	</header>
	<!-- header section end-->

	<!-- Header section  -->
	<nav class="nav-section">
		<div class="container">
			<div class="nav-right">
				<a href="#"><i class="fa fa-search"></i></a>
			</div>
			<ul class="main-menu" ng-init="isHomeActive=true">
				<li ng-class="{'active': isHomeActive}" ng-click="isHomeActive=true; isAboutUsActive=false; isEventActive=false; isCoursesActive=false; isAdmissionActive=false; isCounsellingActive=false; isContactActive=false;"><a href="#/home">{{'menu.home' | translate}}</a></li>
				<li ng-class="{'active': isAboutUsActive }" ng-click="isHomeActive=false; isAboutUsActive=true; isEventActive=false; isCoursesActive=false; isAdmissionActive=false; isCounsellingActive=false; isContactActive=false;"><a href="#/about">{{'menu.aboutUs' | translate}}</a></li>
				<li ng-class="{'active': isEventActive }" ng-click="isHomeActive=false; isAboutUsActive=false; isEventActive=true; isCoursesActive=false; isAdmissionActive=false; isCounsellingActive=false; isContactActive=false;"><a href="#/event">{{'menu.event' | translate}}</a></li>
				<li ng-class="{'active': isCoursesActive }" ng-click="isHomeActive=false; isAboutUsActive=false; isEventActive=false; isCoursesActive=true; isAdmissionActive=false; isCounsellingActive=false; isContactActive=false;"><a href="#/courses">{{'menu.courses' | translate}}</a></li>
				<li ng-class="{'active': isAdmissionActive }" ng-click="isHomeActive=false; isAboutUsActive=false; isEventActive=false; isCoursesActive=false; isAdmissionActive=true; isCounsellingActive=false; isContactActive=false;"><a href="#/admission">{{'menu.admission' | translate}}</a></li>
				<li ng-class="{'active': isCounsellingActive }" ng-click="isHomeActive=false; isAboutUsActive=false; isEventActive=false; isCoursesActive=false; isAdmissionActive=false; isCounsellingActive=true; isContactActive=false;"><a href="#/counseling">{{'menu.counseling' | translate}}</a></li>
				<li ng-class="{'active': isContactActive }" ng-click="isHomeActive=false; isAboutUsActive=false; isEventActive=false; isCoursesActive=false; isAdmissionActive=false; isCounsellingActive=false; isContactActive=true;"><a href="#/contact">{{'menu.contact' | translate}}</a></li>
			</ul>
		</div>
	</nav>
	<!-- Header section end -->

	<div ng-view></div>

	<!-- Footer section -->
	<footer class="footer-section">
		<div class="container footer-top">
			<div class="row">
				<!-- widget -->
				<div class="col-sm-6 col-lg-3 footer-widget">
					<div class="about-widget">
						<img src="img/logo-light.png" alt="">
						<p>{{'FOOTER.footer1.title' | translate}}</p>
						<div class="social pt-1">
							<a href=""><i class="fa fa-twitter-square"></i></a>
							<a href=""><i class="fa fa-facebook-square"></i></a>
							<a href=""><i class="fa fa-google-plus-square"></i></a>
							<a href=""><i class="fa fa-linkedin-square"></i></a>
							<a href=""><i class="fa fa-rss-square"></i></a>
						</div>
					</div>
				</div>
				<!-- widget -->
				<div class="col-sm-6 col-lg-3 footer-widget">
					<h6 class="fw-title">{{'FOOTER.footer2.header' | translate}}</h6>
					<div class="dobule-link">
						<ul>
							<li><a href="">{{'FOOTER.footer2.home' | translate}}</a></li>
							<li><a href="">{{'FOOTER.footer2.aboutUs' | translate}}</a></li>
							<li><a href="">{{'FOOTER.footer2.services' | translate}}</a></li>
							<li><a href="">{{'FOOTER.footer2.events' | translate}}</a></li>
							<li><a href="">{{'FOOTER.footer2.features' | translate}}</a></li>
						</ul>
						<ul>
							<li><a href="">{{'FOOTER.footer3.policy' | translate}}</a></li>
							<li><a href="">{{'FOOTER.footer3.term' | translate}}</a></li>
							<li><a href="">{{'FOOTER.footer3.help' | translate}}</a></li>
							<li><a href="">{{'FOOTER.footer3.faqs' | translate}}</a></li>
							<li><a href="">{{'FOOTER.footer3.sitemap' | translate}}</a></li>
						</ul>
					</div>
				</div>
				<!-- widget -->
				<div class="col-sm-6 col-lg-3 footer-widget">
					<h6 class="fw-title">{{'FOOTER.footer4.header' | translate}}</h6>
					<ul class="recent-post">
						<li>
							<p>{{'FOOTER.footer4.title1' | translate}}</p>
							<span><i class="fa fa-clock-o"></i>{{'FOOTER.footer4.date1' | translate}}</span>
						</li>
						<li>
							<p>{{'FOOTER.footer4.title2' | translate}}</p>
							<span><i class="fa fa-clock-o"></i>{{'FOOTER.footer4.date2' | translate}}</span>
						</li>
					</ul>
				</div>
				<!-- widget -->
				<div class="col-sm-6 col-lg-3 footer-widget">
					<h6 class="fw-title">{{'FOOTER.footer5.header' | translate}}</h6>
					<ul class="contact">
						<li><p><i class="fa fa-map-marker"></i>{{'FOOTER.footer5.address' | translate}}</p></li>
						<li><p><i class="fa fa-phone"></i> {{'FOOTER.footer5.phone' | translate}}</p></li>
						<li><p><i class="fa fa-envelope"></i> {{'FOOTER.footer5.email' | translate}}</p></li>
					</ul>
				</div>
			</div>
		</div>
		<!-- copyright -->
		<div class="copyright">
			<div class="container">
				<p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
{{'secondFooter.copyright' | translate}} &copy;<script>document.write(new Date().getFullYear());</script> {{'secondFooter.allRightsReserved' | translate}} | {{'secondFooter.contect2' | translate}} <i class="fa fa-heart-o" aria-hidden="true"></i> {{'secondFooter.contect3' | translate}} <a href="http://midbone.com" target="_blank">MidBone</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
			</div>		
		</div>
	</footer>
	<!-- Footer section end-->

	<!--====== Javascripts & Jquery ======-->
	
	<script src="js/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
	<script src="https://code.angularjs.org/1.5.8/angular-route.min.js"></script>
	<script src="https://code.angularjs.org/1.5.8/angular-animate.min.js"></script>
	
	<!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-aria.min.js"></script> -->
	<!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-messages.min.js"></script> -->
	<!-- Angular Material Library -->
	<!-- <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.js"></script> -->
	
	<script src="js/ui-bootstrap-tpls-2.1.1.min.js"></script>
	<script src="js/angular-translate.2.5.0.js"></script>
	<script src="js/angular/app.js"></script>
	<script src="js/angular/mainController.js"></script>
	<script src="js/angular/homeController.js"></script>
	<script src="js/angular/admissionController.js"></script>
	
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/jquery.countdown.js"></script>
	<script src="js/masonry.pkgd.min.js"></script>
	<script src="js/magnific-popup.min.js"></script>
	<script src="js/main.js"></script>
	
</body>
</html>